:host {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    'tabs toolbar' 40px
    'editor console' 1fr;
  grid-template-columns: 1fr 38.2%;
  position: relative;
}

.tabs {
  grid-area: tabs;
}

:host ::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #1e1e1e;
  border-bottom-color: #1e1e1e;
}

.editor {
  grid-area: editor;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  ::ng-deep .ant-spin {
    font-size: 50px;
  }
}
