:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tabs {
  width: 800px;
  height: 80%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60vh;
  overflow: hidden;
}

.list {
  width: 200px;
  height: 100%;
  overflow: auto;
}

.item {
  cursor: pointer;
  background-color: #404040;
  padding: 12px 8px;

  &:hover {
    background-color: #262626;
  }

  &.selected {
    background-color: #343434;
  }
}

.divider {
  height: 100%;
}

button[nz-button] {
  height: fit-content;
}

.actions {
  display: flex;
  flex-direction: column;

  > button {
    margin-bottom: 10px;
  }
}
